/* App.css */

.grid-container {
    display: grid;
    gap: 1rem;
    padding: 1.25rem;
    grid-template-columns: repeat(2, 1fr); 
    margin-left: 7%;
    margin-top: 1rem;
  }
  
  .widget {
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 0.6s ease-in-out forwards;
    animation-delay: calc(var(--order) * 0.1s); 
  }
  
  .widget-image {
    width: 100%;
    height: auto;
  }
  

  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  @media (max-width: 56.25rem) { 
    .grid-container {
      grid-template-columns: 1fr; /
    }
  }

  .widget:hover {
    transform: scale(1.05);
  }