@font-face {
    font-family: 'f1-regular';
    src: url('/assets/fonts/Formula1-Regular.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr)); 
    gap: 1.25rem; 
    padding: 2rem;
    margin-left: 5rem; 
    box-sizing: border-box;
}


.driver-card {
    width: 100%; 
    max-width: 15.625rem; 
    border-radius: 0.9375rem; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.driver-card:hover {
    transform: scale(1.05);
}

@media (min-width: 64rem) { 
    .card-container {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 5rem; 
    }
}

@media (max-width: 64rem) { 
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 3.75rem; 
    }
}

@media (max-width: 48rem) { 
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 2.5rem; 
    }

    .driver-card {
        max-width: 12.5rem; 
    }
}

@media (max-width: 30rem) { 
    .card-container {
        grid-template-columns: 1fr;
        margin-left: 1.25rem; 
    }

    .driver-card {
        max-width: 100%;
    }
}

.no-drivers-found {
    font-family: 'f1-regular', sans-serif;
    font-size: 2rem;
    color: #fffefe;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left:23rem;
}