.big-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-family: 'f1-bold', sans-serif;
    margin-top: 2rem;
}

.subtitle2 {
    padding-top: 1.1%;
    padding-left: 0.5rem;
    margin-left: 4rem;
    font-size: 100%;
    font-family: 'f1-regular', sans-serif;
    text-decoration: none;
    color: white;
    background: none; 
    border: none; 
}

.date-location{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.results-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.race-results {
    border-collapse: collapse;
    font-size: 1rem;
    font-family: 'f1-regular', sans-serif;
    color: white;
    background-color: #333;
    border-radius: 0.5rem;
    margin-left: 8rem;
    margin-top: 1rem;
    width: 60%;
    height: auto;
}

.race-results thead tr {
    font-size: 1.2rem; 
    color: #FF1D00;
    -webkit-text-stroke: 0.02rem white;
    text-align: center;
    font-family: 'f1-bold', sans-serif;
}

.race-results th, .race-results td {
    padding: 0.34rem; 
    text-align: center;
}

.loading {
    font-size: 1rem; 
    font-family: 'f1-regular', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}


@media (max-height: 768px) {
    .race-results {
        font-size: 1rem; 
        margin-left: 5rem;
        width:50%;
    }

    .race-results th,  .race-results td {
        padding: 0.27rem;
    }

    .race-results thead tr {
        font-size: 0.9rem;
    }
}
