.race-results-standings {
    border-collapse: collapse;
    font-size: 1.2rem;
    font-family: 'f1-regular', sans-serif;
    color: white;
    background-color: #333;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    width: 100%;
    height: auto;
}

.race-results-standings thead tr {
    font-size: 1.4rem; 
    color: #FF1D00;
    -webkit-text-stroke: 0.02rem white;
    text-align: center;
    font-family: 'f1-bold', sans-serif;
}

.race-results-standings th, .race-results-standings td {
    padding: 0.34rem; 
    text-align: center;
}

.loading {
    font-size: 1rem; 
    font-family: 'f1-regular', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}


@media (max-height: 768px) {
    .race-results-standings {
        font-size: 0.9rem; 
        width:120%;
    }

    .race-results-standings th,  .race-results-standings td {
        padding: 0.27rem;
    }

    .race-results-standings thead tr {
        font-size: 1.1rem;
    }
}

.standings-title{
    font-size: 2rem;
    color: white;
    font-family: 'f1-bold', sans-serif;
    margin-top: 2rem;
}

.standings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.standings-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
